/* General classes */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    border: 0.5px solid #333333;
    background: #ffffff;
    z-index: 1;
}

.checkbox .checkmark-label {
  padding-left: 40px;
  margin-bottom: inherit;
}

input[type="checkbox"] {
  position: relative;
  width: 30px;
  height: 30px;
  z-index: 2;
  opacity: 0;
}

input[type="checkbox"]:hover {
  cursor: pointer;
}

.js-form-type-checkbox {
  position: relative;
}

/* On mouse-over, add a grey background color */
input ~ .checkmark {
    background-color: #ffffff;
}

/* When the checkbox is checked, add a blue background */
input:checked ~ .checkmark {
  background-color: #15459A;
}

/* Create the checkmark/indicator (hidden when not checked) */

/* Show the checkmark when checked */
input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkmark:after {
    left: 11px;
    top: 2px;
    width: 9px;
    height: 19px;
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    content: "";
    position: absolute;
    display: none;
}
